# ---
# Build backend
# ---
poetry

# ---
# Documentation
# ---
mkdocs
mkdocstrings-python

# ---
# Linting, typing and code style 
# ---
autoflake
black
isort
mypy
lxml
pylint


# ---
# Testing and coverage
# ---
coverage
pytest
pytest-dependency