
# ---
# Linting, typing and code style
# ---
autoflake
black


# ---
# Testing and coverage
# ---
coverage
isort
lxml

# ---
# Documentation
# ---
mkdocs
mkdocstrings-python
mypy
# ---
# Build backend
# ---
poetry
pre-commit
pylint
pytest
pytest-dependency
